html,body {
    padding: 0;
    margin: 0;
    background: #16171b;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

input, textarea {
    outline: none;
}

p {
    margin: 0;
}
