<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/partials/adminHeader.css">
    <link rel="stylesheet" href="/public/css/partials/adminSidebar.css">
    <link rel="stylesheet" href="/public/css/admin/settings/settings.css">
</head>
<body>
    <%- include('../../partials/adminHeader') %>

    <%- include('../../partials/adminSidebar') %>

    <div class="main">
        <div class="container">
            <div class="settings">
                <h1>Settings</h1>
                <div class="settings-bg">
                    <div class="setting-grid">
                        <div class="setting">
                            <a href="/settings/general">
                                <div class="setting-wrapper">
                                    <a><i class="fas fa-cog"></i> General</a>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, libero?</p>
                                </div>
                            </a>
                        </div>
                        <div class="setting">
                            <a href="/settings/general">
                                <div class="setting-wrapper">
                                    <a><i class="fas fa-users"></i> Accounts</a>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, libero?</p>
                                </div>
                            </a>
                        </div>
                        <div class="setting">
                            <a href="/settings/general">
                                <div class="setting-wrapper">
                                    <a><i class="fas fa-dollar-sign"></i> Payments</a>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, libero?</p>
                                </div>
                            </a>
                        </div>
                        <div class="setting">
                            <a href="/settings/general">
                                <div class="setting-wrapper">
                                    <a><i class="fas fa-shopping-cart"></i> Checkout</a>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, libero?</p>
                                </div>
                            </a>
                        </div>
                        <div class="setting">
                            <a href="/settings/general">
                                <div class="setting-wrapper">
                                    <a><i class="fas fa-heart"></i> Gift Cards</a>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, libero?</p>
                                </div>
                            </a>
                        </div>
                        <div class="setting">
                            <a href="/settings/general">
                                <div class="setting-wrapper">
                                    <a><i class="fas fa-bell"></i> Notifications</a>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, libero?</p>
                                </div>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>